.about-project {
  padding: 110px 70px;
}

.about-project__title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
  border-bottom: 1px solid black;
  margin: 0;
  padding-bottom: 23px;
  text-align: start;
}

.about-project__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 70px;
}

.about-project__info {
  max-width: 550px;
}

.about-project__info:first-child {
  margin-right: 40px;
}

.about-project__info-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  margin: 0;
}

.about-project__info-text {
  margin: 26px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__tape {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 110px;
}

.about-project__backend {
  width: 20%;
}

.about-project__frontend {
  width: 80%;
}

.about-project__backend-field {
  background: #2be080;
  height: 25px;
  padding-top: 9px;
  text-align: center;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.about-project__frontend-field {
  background: #f2f2f2;
  height: 25px;
  padding-top: 9px;
  text-align: center;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.about-project__subtitle {
  margin: 14px 0 0 0;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__info {
    max-width: 319px;
  }

  .about-project__info:first-child {
    margin-right: 30px;
  }

  .about-project__info-text {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__subtitle {
    margin-top: 14px;
  }

  .about-project__tape {
    margin-top: 93px;
  }
}

@media screen and (max-width: 540px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__container {
    flex-wrap: wrap;
  }

  .about-project__backend {
    width: 35%;
  }

  .about-project__frontend {
    width: 65%;
  }

  .about-project__title {
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 28px;
  }

  .about-project__info:first-child {
    margin-bottom: 56px;
  }

  .about-project__info-text {
    margin-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__tape {
    margin-top: 60px;
  }

  .about-project__backend-field {
    height: 24px;
    font-size: 11px;
    line-height: 13px;
    padding-top: 11px;
  }

  .about-project__frontend-field {
    height: 24px;
    font-size: 11px;
    line-height: 13px;
    padding-top: 11px;
  }

  .about-project__subtitle {
    font-family: Suisse Intl;
    font-weight: 400;
    font-size: 11px;
    line-height: 12.74px;
    margin-top: 10px;
  }
}