.login__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 396px;
  padding: 70px 0;
  margin: 0 auto;
}

.login__logo {
  width: 38px;
  height: 38px;
  padding-bottom: 40px;
}

.login__title {
  margin: 0;
  padding-bottom: 40px;
  text-align: start;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.login__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  text-align: left;
}

.login__label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.login__input {
  width: 396px;
  height: 46px;
  margin: 10px 0 20px;
  background: #F9F9F9;
  border-radius: 8px;
  border: none;
}

.login__input:last-child {
  padding-bottom: 0;
}

.login__input-error {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF3055;
  margin: 0 0 0 0;
  box-sizing: border-box;
  min-height: 12px;
}

.login__submit {
  width: 396px;
  height: 45px;
  margin: 159px 0 16px;
  background: #3456F3;
  border-radius: 3px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.login__submit:hover {
  opacity: .8;
}

.login__signup {
  display: flex;
  margin: 0 auto;
}

.signup__ask {
  margin: 0;
  padding-right: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

.signup__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3456F3;
  text-decoration: none;
}

.signup__link:hover {
  opacity: .7;
}

@media screen and (max-width: 800px) {
  .login__container {
    padding: 232px 0;
  }
}

@media screen and (max-width: 500px) {
  .login__container {
    width: 260px;
    padding: 56px 0 30px;
    align-items: center;
  }

  .login__input {
    width: 260px;
  }

  .login__submit {
    width: 260px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  .signup__ask {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  .signup__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

}